<div class="row">
  <div class="col-9">
    <table class="table table-bordered table-hover">
      <thead>
        <tr>
          <th scope="col">Ticker</th>
          <th scope="col">Name</th>
          <th scope="col">Price</th>
          <th scope="col">Actions</th>
        </tr>
      </thead>
      <tbody>
        <% @tracked_stocks.each do |stock| %>
          <tr>
            <th scope="row"><%= stock.ticker %></th>
            <td><%= stock.name %></td>
            <td><%= stock.last_price %></td>
            <td>
              <% if current_user.can_track_stock?(stock.ticker) %>
                <%= link_to 'Add to portfolio', user_stocks_path(user: current_user, ticker: stock.ticker),
                                                class: "btn btn-success btn-sm", method: :post %>
              <% elsif current_user.id != @user.id %>
                <span class="badge badge-secondary">
                  You are already tracking
                  <% if !current_user.under_stock_limit? && current_user.stock_already_tracked?(stock.ticker) %>
                    10 stocks and this stock
                  <% elsif current_user.under_stock_limit? && current_user.stock_already_tracked?(stock.ticker) %>
                    this stock
                  <% elsif !current_user.under_stock_limit? %>
                    10 stocks
                  <% end %>
                </span>
              <% end %>
              <% if current_user.id == @user.id %>
              <%= link_to "Remove", user_stock_path(stock), method: :delete, data: {confirm: "Are you sure?"},
                                          class: "btn btn-warning btn-sm"  %>
              <% end %>
            </td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>
</div>
