<div class="results-block">
  <%= render 'layouts/messages' %>
</div>

<% if @stock %>
  <div class="card card-header results-block">
    <strong>Symbol: </strong> <%= @stock.ticker %>
    <strong>Name: </strong> <%= @stock.name %>
    <strong>Price: </strong> <%= @stock.last_price %>
    <% if current_user.can_track_stock?(@stock.ticker) %>
      <%= link_to 'Add to portfolio', user_stocks_path(user: current_user, ticker: @stock.ticker),
                                      class: "btn btn-success btn-sm", method: :post %>
    <% else %>
      <span class="badge badge-secondary">
        You are already tracking
        <% if !current_user.under_stock_limit? && current_user.stock_already_tracked?(@stock.ticker) %>
          10 stocks and this stock
        <% elsif current_user.under_stock_limit? && current_user.stock_already_tracked?(@stock.ticker) %>
          this stock
        <% elsif !current_user.under_stock_limit? %>
          10 stocks
        <% end %>
      </span>
    <% end %>
  </div>
<% end %>
