<h3>My friends</h3>

<div class="search-area">
  <h3>Search Friend</h3>
  <%= form_tag search_friend_path, remote: true, method: :get do %>
    <div class="form-group row">
      <div class="col-sm-9 no-right-padding">
        <%= text_field_tag :friend, params[:friend], placeholder: "Name or Email", autofocus: true, class: "form-control form-control-lg" %>
      </div>
      <div class="col-sm-3">
        <%= button_tag type: :submit, class: "btn btn-success" do %>
          <%= fa_icon 'search 2x no-left-padding' %>
        <% end %>
      </div>
    </div>
  <% end %>
</div>
<div id="friend_results"></div>

<% if !@friends.empty? %>
  <%= render 'friendships/list' %>
<% end %>
