<% if notice %>
  <div class="alert alert-success">
    <a href="#" class="close" data-dismiss="alert">&times;</a>
    <%= notice %>
  </div>
<% elsif alert %>
  <div class="alert alert-danger">
    <a href="#" class="close" data-dismiss="alert">&times;</a>
    <%= alert %>
  </div>
<% end %>
